package ${groupId}.boot.web.service;

import com.gls.gemini.starter.mybatis.base.BaseServiceImpl;
import ${groupId}.boot.web.converter.DemoConverter;
import ${groupId}.boot.web.entity.DemoEntity;
import ${groupId}.boot.web.mapper.DemoMapper;
import ${groupId}.sdk.vo.DemoVo;
import org.springframework.stereotype.Service;

@Service
public class DemoService extends BaseServiceImpl<DemoConverter, DemoMapper, DemoVo, DemoEntity> {
}
