<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${groupId}.boot.web.mapper.${entityNameUpper}Mapper">

    <resultMap id="${entityName}ResultMap" type="${groupId}.boot.web.entity.${entityNameUpper}Entity">
        <id column="id" property="id"/>
    #foreach($column in $columns)
    #if($column.fieldName != "id" &&
        $column.fieldName != "tenantId" &&
        $column.fieldName != "version" &&
        $column.fieldName != "deleted" &&
        $column.fieldName != "createUserId" &&
        $column.fieldName != "createUserName" &&
        $column.fieldName != "createTime" &&
        $column.fieldName != "updateUserId" &&
        $column.fieldName != "updateUserName" &&
        $column.fieldName != "updateTime" )
        <result column="${column.columnName}" property="${column.fieldName}"/>
    #end
    #end
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="${entityName}Sql">
    #foreach($column in $columns)
        #if($foreach.hasNext)${column.columnName},#else${column.columnName}#end
    #end

    </sql>

</mapper>