package ${groupId}.boot.web.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import com.gls.gemini.starter.mybatis.base.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.io.Serial;

/**
 * ${tableComment} 实体类
 *
 * @author gemini 自动生成
 * @version ${version}
 * @date ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${entityNameUpper}Entity extends BaseEntity {

    @Serial
    private static final long serialVersionUID = 1L;

#foreach($column in $columns)
#if($column.fieldName != "id" &&
    $column.fieldName != "tenantId" &&
    $column.fieldName != "version" &&
    $column.fieldName != "deleted" &&
    $column.fieldName != "createUserId" &&
    $column.fieldName != "createUserName" &&
    $column.fieldName != "createTime" &&
    $column.fieldName != "updateUserId" &&
    $column.fieldName != "updateUserName" &&
    $column.fieldName != "updateTime" )
    public static final String COL_${column.columnNameUpper} = "${column.columnName}";

    /**
     * ${column.columnComment}
     */
    private ${column.fieldType} ${column.fieldName};
#end
#end
}
