package ${groupId}.boot.web.controller;

import com.gls.gemini.boot.core.base.BaseController;
import ${groupId}.boot.web.service.${entityNameUpper}Service;
import ${groupId}.sdk.vo.${entityNameUpper}Vo;
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * ${tableComment} 控制器
 *
 * @author gemini 自动生成
 * @version ${version}
 * @date ${dateTime}
 */
@Slf4j
@RestController
@RequestMapping("/${entityName}")
@Tag(name = "${entityName}", description = "${tableComment}")
public class ${entityNameUpper}Controller extends BaseController<${entityNameUpper}Service, ${entityNameUpper}Vo> {
}