package ${groupId}.boot.web.service;

import com.gls.gemini.starter.mybatis.base.BaseServiceImpl;
import ${groupId}.boot.web.converter.${entityNameUpper}Converter;
import ${groupId}.boot.web.entity.${entityNameUpper}Entity;
import ${groupId}.boot.web.mapper.${entityNameUpper}Mapper;
import ${groupId}.sdk.vo.${entityNameUpper}Vo;
import org.springframework.stereotype.Service;

@Service
public class ${entityNameUpper}Service extends BaseServiceImpl<${entityNameUpper}Converter, ${entityNameUpper}Mapper, ${entityNameUpper}Vo, ${entityNameUpper}Entity> {
}
