package ${groupId}.boot.web.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${groupId}.boot.web.entity.${entityNameUpper}Entity;

public interface ${entityNameUpper}Mapper extends BaseMapper<${entityNameUpper}Entity> {
}
