package ${groupId}.sdk.vo;

import com.alibaba.excel.annotation.ExcelProperty;
import com.gls.gemini.sdk.core.vo.BaseVo;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${tableComment} Vo
 *
 * @author gemini 自动生成
 * @version ${version}
 * @date ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Schema(title = "${entityName}", description = "${tableComment}Vo")
public class ${entityNameUpper}Vo extends BaseVo {

    #foreach($column in $columns)
        #if($column.fieldName != "id" &&
            $column.fieldName != "tenantId" &&
            $column.fieldName != "version" &&
            $column.fieldName != "deleted" &&
            $column.fieldName != "createUserId" &&
            $column.fieldName != "createUserName" &&
            $column.fieldName != "createTime" &&
            $column.fieldName != "updateUserId" &&
            $column.fieldName != "updateUserName" &&
            $column.fieldName != "updateTime" )
            /**
             * ${column.columnComment}
             */
            @ExcelProperty(value = "${column.columnComment}")
            @Schema(title = "${column.columnComment}", description = "${column.columnComment}")
            private ${column.fieldType} ${column.fieldName};
        #end
    #end
}
