package ${groupId}.sdk.feign;

import com.gls.gemini.sdk.core.feign.BaseFeign;
import ${groupId}.sdk.vo.${entityNameUpper}Vo;
import org.springframework.cloud.openfeign.FeignClient;

/**
 * ${tableComment} Feign
 *
 * @author gemini 自动生成
 * @version ${version}
 */
@FeignClient(name = "${artifactId}", contextId = "${entityName}", path = "/${entityName}")
public interface ${entityNameUpper}Feign extends BaseFeign<${entityNameUpper}Vo> {
}
