<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>${groupId}</groupId>
        <artifactId>${artifactId}</artifactId>
        <version>${version}</version>
    </parent>

    <groupId>${groupId}.boot</groupId>
    <artifactId>${artifactId}-boot</artifactId>

    <dependencies>
        <dependency>
            <groupId>${groupId}.sdk</groupId>
            <artifactId>${artifactId}-sdk</artifactId>
            <version>${version}</version>
        </dependency>
        <dependency>
            <groupId>com.gls.gemini.boot.core</groupId>
            <artifactId>gemini-boot-core</artifactId>
        </dependency>
        <dependency>
            <groupId>com.gls.gemini.boot.cloud</groupId>
            <artifactId>gemini-boot-cloud</artifactId>
        </dependency>
    </dependencies>
</project>